<launch>
    <arg name="lang" default="eng"/>
    <arg name="ip" default="10.0.1.230"/>
    <node name="transcriber" pkg="speech_pkg" type="speech_transcription_node.py" output="screen" args="--lang $(arg lang)"/>
    <!-- <node name="manager" pkg="speech_pkg" type="manager_node.py" output="screen"/> -->
    <node name="speech_detection_node" pkg="speech_pkg" type="speech_detection_node.py" output="screen"/>
    <node name="microphone_node" pkg="speech_pkg" type="microphone_node.py"/>
</launch>